html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
}
.task-one {
    background-color: aqua;
}

.task-one::before {
    content: 'Once upon a time...';
    background-color: violet;
    font-style: italic;
    font-weight: bold;
}
     
.task-one::after {
    content: '...The end';
    background-color: pink;
    font-style: italic;
    font-weight: bold;
    /* width: 200px; */
    } 

.task-two {
    background-image: url("./assets/beach.jpg");
    height: 400px;
    width: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

.task-three  {
    transform: rotate(180deg);
}
